<!--The content below is only a placeholder and can be replaced.-->
<div
  style="background-image: linear-gradient(rgba(101, 101, 228, 0.568), rgba(228, 88, 88, 0.5)),
url(http://images2.fanpop.com/images/photos/7800000/Nature-Full-HD-Wallpaper-national-geographic-7822409-1920-1080.jpg)">
  <h1 style="text-align: center;color: antiquewhite">
    Welcome to PoC!
  </h1>
  <!-- <img width="100" alt="Angular Logo"
    src="https://www.pnglot.com/pngfile/detail/127-1278920_anime-loli-hinh-anh-cho-anime-girl.png"> -->
  <!-- </div>
<h2>GET VALUE</h2>
<div> -->
  <!-- <input placeholder="USERNAME" class="form-control" [formControl]="user"><br><br>
  <input placeholder="LOCATION" class="form-control" [formControl]="location"><br><br> -->
  <br>
  <br>
<!-- <div *ngFor="let users of userDb">
  {{users.value.message}}
  <button mat-button (click)="goToC(users.value.location)">GOTO!</button>
  <br><br>
</div> -->
<table mat-table [dataSource]="userDb" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Location">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.value.location}} </td>
  </ng-container>
  <ng-container matColumnDef="Message">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Message </th>
    <td mat-cell *matCellDef="let element"> {{element.value.message}} </td>
  </ng-container>
  <ng-container matColumnDef="btn">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Go! </th>
    <td mat-cell *matCellDef="let element"> <button mat-button style="background-color: #f44c4c;
      color: white;" (click)="goToC(element.value.location)">View!</button></td>
  </ng-container>
  <ng-container matColumnDef="fix">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Solve </th>
    <td mat-cell *matCellDef="let element">
      <div [hidden]="element.value.mode===0?true:false">
        <button mat-button style="background-color: #79ee5d;
      color: white;" (click)="firebaseChangeStatus(element.key)">Fix!</button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div style="margin-top: 10px;
display: flex;">
  <button mat-button (click)="fetchUserid()" style="display: flex;justify-content: left;background-color: #86f764;
color: white;">Line notify!</button>
  <button mat-button (click)="polygonExample()" style="display: flex;justify-content: left;background-color: #5076f1;
  color: white;">Polygon</button>
  <button mat-button (click)="compareGeo()" style="display: flex;justify-content: left;background-color: #f07ccd;
  color: white;">Compare</button>
  <button mat-button (click)="polygonDraw()" style="display: flex;justify-content: left;background-color: #534848;
  color: white;">Draw</button>
</div>
<div style="width: 800px;height:500px; margin-left: 700px;margin-top:-100px" #eleMap></div>
</div>